body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #f9fafb;
    font-family: Inconsolata, sans-serif;

}

.project-container {
    max-width: 700px;
    width: 100%;
    padding-top: 80px;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.project-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.project-description {
    margin-bottom: 1.5rem;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-button {
    padding: 0.5rem 1rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}

.project-button:hover {
    background-color: #3730a3;
}

header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid;
    padding: 0 60px 0 60px;
    filter: drop-shadow(2px 1px 5px gray);
}

.name {
    padding-left: 60px;
}

header ul li a {
    padding-right: 60px;
}

header ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

header ul li:hover {
    color: orange;
    transition: 0.2s;
}

header ul li, .name {
    font-size: 20px;
    font-weight: 900;
}

header a {
    text-decoration: none;
    color: inherit;
}

.btn-hover {
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.buttons a {
    text-decoration: none;
    color: white;
}